# **Occupancy Detection - by Arya Adhy**

![banner](https://raw.githubusercontent.com/aryaadhy/Occupancy_Detection_FINPRO/main/assets/banner.png)

## **Data Preparation**

### **Import Libraries**

In [2]:
import pandas as pd

### **Read Datasets**

In [3]:
datatest_1 = pd.read_csv("https://raw.githubusercontent.com/aryaadhy/Occupancy_Detection_FINPRO/main/dataset/datatest.csv")
datatest_2 = pd.read_csv("https://raw.githubusercontent.com/aryaadhy/Occupancy_Detection_FINPRO/main/dataset/datatest2.csv")
datatraining = pd.read_csv("https://raw.githubusercontent.com/aryaadhy/Occupancy_Detection_FINPRO/main/dataset/datatraining.csv")

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,2/2/2015 14:19,23.7000,26.272,585.200000,749.200000,0.004764,1
1,2/2/2015 14:19,23.7180,26.290,578.400000,760.400000,0.004773,1
2,2/2/2015 14:21,23.7300,26.230,572.666667,769.666667,0.004765,1
3,2/2/2015 14:22,23.7225,26.125,493.750000,774.750000,0.004744,1
4,2/2/2015 14:23,23.7540,26.200,488.600000,779.000000,0.004767,1

### **Data Cleaning and Preprocessing**

In [58]:
# Duplicate, missing values, and data types summary function
def missing_values_summary(df, name):
    print(f'Duplicate values {name}:', df.duplicated().sum())
    msv = pd.DataFrame(df.isnull().sum().sort_values(), columns=['Total Null Values'])
    msv['Percentage'] = (msv['Total Null Values']/df.shape[0])*100
    msv["Data Type"] = [df[col].dtype for col in df.columns]
    msv.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)
    return msv.style.background_gradient(cmap='Blues')

In [59]:
missing_values_summary(datatest_1, "datatest_1")

Duplicate values datatest_1: 2

In [60]:
missing_values_summary(datatest_2, "datatest_2")

Duplicate values datatest_2: 27

In [61]:
missing_values_summary(datatraining, "datatraining")

Duplicate values datatraining: 25

**Inferences :**<br>
1. Masing - masing *`Datatest_1`, `Datatest_2`, `Datatraining`* memiliki duplicate values berturut-turut *`2`,`27`,`25`*
2. Ketiga dataset tidak memiliki Missing values
3. Ketiga dataset memiliki tipe data yang sama pada masing-masing feature seperti dibawah ini:

List of Column Types:
- `date` : object
- `Temperature` : float
- `Humidity` : float
- `Light` : float
- `CO2` : float
- `HumidityRatio` : float
- `Occupancy` : int

**To Do**
1. Melakukan cleaning duplicates values
2. Melakukan manipulasi